# Copy SOURCE (Relative to package root) -> DESTINATION (Relative to installation prefix)
awd -> awd

# Delete (Relative to installation prefix)
awd -> -

# Mark as executable (Relative to installation prefix)
awd -> +

# Start file (Relative to installation prefix)
awd -> $
